

.footer{
  /* bottom: 0; */
  background-color: skyblue;
  /* position: absolute; */
  width: 100%;
  padding: 0px;
  text-align: center;
}
.register{
  margin-left: 30%;
}
.login{
  margin-top: 100px;
  margin-left: 30%;
}
.input-box{
  display: block;
  margin: 25px;
  padding: 10px;
  width: 300px;
  border: 1px solid skyblue;
  border-radius: 5px;
}

.app-button{
  background-color: skyblue;
  margin: 25px;
  padding: 10px;
  width: 150px;
  border-radius: 5px;
  border: 1px solid;
  cursor: pointer;
}
.logo-image {
  margin: 2px;
  width: 50px;
  height: 50px;
  float: left;
  border-radius: 50%;
}

.add-product{
  margin-left: 30%;
}
.invalid-input{
  display: block;
  margin-top: -24px;
  margin-left: 30px;
  color: red;
  margin-bottom: -19px;
}
.product-list{
  text-align: center;
}
.product-list ul{
  margin: 0;
}
.product-list ul li{
  display: inline-block;
  list-style-type: none;
  border: 1px solid skyblue;
  padding: 5px;
  width: 150px;
}
.search-box {
  padding: 5px;
  width: 30%;
  border: 1px solid skyblue;
  border-radius: 5px;
  margin: 5px;
}
.upload-img{
  position: relative;
  left: 32px;
  width: 150px;
}
/* .abc{
  opacity: 0;
}

.group:hover .abc{
  opacity: 1;
} */

